.messages-wrapper {
  padding-top: 20px;
  padding-bottom: 5px;
}
.message-wrapper {
  padding-top: 3px;
}
.text-wrapper {
  padding-left: 10px;
}
.message-form {
  padding-top: 5px;
}
.short-card-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
  line-height: 30px;
}
