<mat-card>
  <mat-card-content>
    <mat-card-title>Выберите диапазон</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-form-field>
      <input matInput [matDatepicker]="from" placeholder="От" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
      <mat-datepicker #from></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="to" placeholder="До" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
      <mat-datepicker #to></mat-datepicker>
    </mat-form-field>
    <mat-slide-toggle [checked]="true" (toggle)="showCompleted($event)" color="warn">Скрывать выполненные</mat-slide-toggle>
  </mat-card-content>
</mat-card>
<div>
  <app-table ></app-table>
</div>
