<mat-progress-bar class="mat-elevation-z8" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div fxLayout="row">
  <mat-card fxFlex="2 2 auto">
    <mat-card-content>
      <mat-card-title>Задолженость</mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="2 2 auto">
    <mat-card-content>
      <mat-card-title>Задолженость</mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="2 2 auto">
    <mat-card-content>
      <mat-card-title>Задолженость</mat-card-title>
    </mat-card-content>
  </mat-card>
</div>

<mat-card>
  <mat-card-content>
    <mat-card-title>Основная информация</mat-card-title>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
  </mat-card-content>
</mat-card>

<div fxLayout="row">
  <mat-card fxFlex="2 2 auto">
    <mat-card-content>
      <mat-card-title>График платежей</mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="1 1 auto">
    <mat-card-content>
      <mat-card-title>Оплаты от клиента</mat-card-title>
    </mat-card-content>
  </mat-card>
</div>

<mat-card>
  <mat-card-content>
    <mat-card-title>Договоры</mat-card-title>
  </mat-card-content>
</mat-card>

<div fxLayout="row">
  <mat-card fxFlex="1 1 auto">
    <mat-card-content>
      <mat-card-title>Лента</mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="2 2 auto">
    <mat-card-content>
      <mat-card-title>Документы</mat-card-title>
    </mat-card-content>
  </mat-card>
</div>
